body {
  margin: 0;
}

.header {
  width: 100%;
  background: #323232;
  position: fixed;
  z-index: 3;
}

.header a {
  color: white;
}

.header-menu {
  margin: 0;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-menu :hover {
  color: #2eb398;
}

.header-menu :focus {
  color: #2eb398;
}

.header-menu__list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header-menu__link {
  margin: 0 26px;
}

.portfolio {
  margin: 0 auto;
  padding: 1%;
  background: white;
}

.about-me {
  background: #2eb398;
}

.get-in-touch {
  background: #323232;
}

.form-button {
  background: #2eb398;
  border: none;
}

footer {
  background: #222222;
  color: #323232;
}